*{
	font-family: "Lato", Sans-serif;
	margin: 0;
	padding: 0;
	line-height: 2em;
	color: white;
}
section{
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 4em;
}
article{
	width: 22em;
	margin: 1em;
	min-width: 10em;
}
body{
	border-top: 5em solid #34495e;
	background-color: #2c3e50;
	height: 100%;
}
header{
	background-color: #34495e;
	width: 100%;
	padding-bottom: 5em;
	text-align: center;
}
article h3{
	color: #1abc9c;
}
a{
	text-decoration: none;
	font-weight: 100;
}
h4{
	color: #34495e;
}