* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: #ecf0f1;
	background: linear-gradient(to bottom right, #fff, #ecf0f1, #fff);
	font-family: "Lato", Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

section {
	background-color: white;
	margin-top: 2em;
	padding: 1em;
}

#buttons {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

h1 {
	font-size: 1em;
	margin-left: 1em;
	margin-top: 1em;
}

h2 {
	font-size: 1em;
	color: #c0392b;
	margin-left: 1em;
}

button {
	border: none;
	padding: 2em;
	margin: .5em;
	background-color: #c0392b;
	background: linear-gradient(to bottom right, #c0392b , #e74c3c);
	color: white;
	font-size: 1em;
	font-weight: 600;
	cursor: pointer;
	width: 100%;
	border-radius: 1em;
	border-bottom: #c0392b solid 5px;
}

.glow {
	animation: glow 100ms ease;
}

@keyframes glow {
	0% {
		background-color: #c0392b;
		background: linear-gradient(to bottom right, #c0392b , #e74c3c);
	}
	100% {
		background-color: #e74c3c;
		background: linear-gradient(to bottom right, #e74c3c , #c0392b);
	}
}

.green {
	background-color: #1abc9c;
}

.invisible {
	display: none;
}

.subtitle {
	display: flex;
	align-items: center;
}

svg {
	margin-left: .5em;
	transform: skew(10deg);
	animation: dance 300ms infinite;
	animation-direction: alternate;
	
}
@keyframes dance {
	0% {
    	transform: skewY(10deg);
  	}
  	100% {
    	transform: skewY(-10deg);
  	}
}

@media (min-width: 37em) {
	button {
		width: auto;
	}
	h1,
	h2 {
		font-size: 1.7em;
	}
}

@media (min-width: 37em) and (max-width: 48em) {
	#buttons {
		justify-content: flex-start;
	}
}

@media (min-width: 48em) {
	section {
		border-radius: 1em;
	}
}








