* {
	margin: 0;
	padding: 0;
	font-family: "Lato", sans-serif;
	box-sizing: border-box;
}

.nav li{
	
	background-color: #2c3e50;
	display: block;
	padding: 1em;
	
}
.nav li:hover{
	display: block;
	background-color: #34495e;

}
.nav a{
	color: white;
	text-decoration: none;
}

.nav{
	/*position: fixed;*/
	width: 100%;
	text-align: center;
}

.startScreen{
	background-color: #2980b9;
	height: 50em;
	padding-top: 10em;
	color: white;
	text-align: center;
}

.invisible{
	display: none;
}
/*.img{
	width: 100%;
}*/
.art h3{
	color: #2c3e50;
	margin-bottom: 2em; 
	text-align: center;
	padding: 2em;
	font-size: 1.5em;
}
.art{
	background-color: #ecf0f1;
}
#images{
	font-weight: 600;
	padding: 1em;
	margin: 1em;
	color: #2c3e50;

}
#images img{
	width: 100%;
	margin: .5em 0 2em 0;
	border: 1em solid #c0392b;
}
#images ul{
	list-style: none;
}




