*{
	font-family: "Lato", Sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	color: white;
}
section{
	height: 70vh;
    width: 80vw;
    -webkit-column-width: 26em;
       -moz-column-width: 26em;
            column-width: 26em;
    -webkit-column-gap: 2em;
       -moz-column-gap: 2em;
            column-gap: 2em;
    margin: 7em 5em 3em 5em;
}
article{
	margin: 1em;
}
body{
	background-color: #2c3e50;
	height: 100%;
}
header{
	background-color: #34495e;
	width: 100%;
	padding-bottom: 5em;
	text-align: center;
}
article h3{
	color: #1abc9c;
	line-height: 2em;
}
a{
	text-decoration: none;
	font-weight: 100;
}
body > article{
	text-align: center;
}
h2{
	font-size: 3em;
	margin-bottom: -.5em;
	line-height: 2em;
	margin-top: -3em;
}
p{
	font-weight: 200;

}
.on{
	color: #1abc9c;
	border-bottom: 5px solid #1abc9c;
	font-weight: 700;
}
a:hover{
	border-bottom: 5px solid white;
}
a{
	margin-left: .3em;
}
.date{
	font-size: .8em;
	margin: 0;
}
#img{
	background-size: cover;
	background-position: center;
	width: 8em;
	height: 8em;
	border-radius: 8em;
	border: .5em solid #34495e;
	float: left;
	margin-right: 1em;
}
.img1{
	background: url("img/arjanWesterdiep.png");

}
.img2{
	background: url("img/marrije.jpg");
}
.img3{
	background: url("img/donny.jpeg");
}
.img4{
	background: url("img/niels.jpg");
}
.img5{
	background: url("img/peterpaul.png");
}

.img6{
	background: url("img/mattijs.jpeg");
}

.img7{
	background: url("img/ron.jpg");
}

.bron{
	color: #1abc9c;
	font-weight: 600;
}
.back{
	margin: 1em;
}
ul{
	text-decoration: none;
	margin-left: 2em;
	font-weight: 300;
}
p{
	margin: 1em 0;
	font-weight: 300;
}
h1{
	font-size: 1.5em;
	margin-top: 1em;
	color: #1abc9c;
}
h5{
	font-weight: bold;
	font-size: 1em;
}
h4{
	font-size: 1em;
	margin-top: 1em;
}
.writeBy p{
	font-size: .8em;
	margin: 0;
}
.writeBy{
	margin-top: 2em;
}
