* {
	margin: 0;
	padding: 0;
	font-family: "Lato", sans-serif
}
.page {
	display: flex;
	justify-content: center;
}
header {
	background-color: #20e2cf;
    background-image: linear-gradient(to left bottom, #20e2ca, #20dee2 100%);
    min-height: 7em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
header a {
	color: white;
	padding: 1em;
	display: inline-block;
	text-decoration: none;
}
header a:hover {
	text-decoration: underline;
	color: white;
}
header div {
	width: 40em;
}
.on {
	background-color: white;
	color: #20e2cf;
	font-weight: bold;
	transition: 1s ease-in-out all;
	pointer-events: none;
}

section {
	margin: 5em 1em;
	max-width: 40em;
	width: 90%;
	font-size: 1em;
	color: #333333;
}
p {
	margin-top: .6em;
	margin-bottom: .6em;
	line-height: 1.4em;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2em;
	margin-top: 2em;
}
h3 {
	font-size: 1.2em;
	margin-top: 2em;
}
ul {
	margin-left: 3em;
	line-height: 1.4em;
}
li {
	margin-bottom: .5em;
}
.jsLanguage {
	background-color: #333333;
	padding: 1em;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	color: white;
	margin-top: 1em;
	margin-bottom: 1em;
	overflow: scroll;
}
.inlineJs {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	background-color: #efefef;
	padding-left: .3em;
	padding-right: .3em;
}
.writer {
	color: #cccccc;
}
a {
	color: #20e2cf;
}
a:hover {
	color: #cccccc;
}
.imgBox {
	display: flex;
}
img {
	margin-top: 2em;
	margin-bottom: 2em;
}
.front-end-designer-img {
	display: flex;
	justify-content: center;
	margin-top: 3em;
}
.front-end-designer-img > div {
	color: white;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10em;
	height: 10em;
	border-radius: 10em;
	text-align: center;
	opacity: .6;	
}
.designer {
	background-color: #20e2ca;
}
.front-end-designer {
	background-image: linear-gradient(to right, #20e2ca, #20dee2 100%);
	margin-left: -5em;
	margin-right: -5em;
	animation: grow 5s ease-in-out infinite;
}
@keyframes grow {
	0% {
		transform: scale(0);
		margin-left: -5em;
		margin-right: -5em;
	}
	40% {
		transform: scale(0);
		margin-left: -5em;
		margin-right: -5em;
	}
	70% {
		transform: scale(1);
		margin-left: -2em;
		margin-right: -2em;
	}
	90% {
		transform: scale(1);
		margin-left: -2em;
		margin-right: -2em;
	}
	100% {
		transform: scale(0);
		margin-left: -5em;
		margin-right: -5em;
	}
}
.back-end-developer {
	background-color: #20dee2;
}
