* {
	margin: 0;
	padding: 0;
	font-family: "Lato", sans-serif;
	box-sizing: border-box;
}

.invisible {
	display: none;
}

/*header*/

header img{
	width: 6em;
	margin: 0 auto;
	display: block;
	padding: .3em;
}
header{
	background-color: #F8B000;
	border-bottom: 2px solid #6EC8E5;
	position: fixed;
	width: 100vw;
}

/*startscreen*/


[data-bind="greeting"]{
	font-size: 1.2em;
	margin: .5em 0;
	color: white;
	font-weight: 600;
}
.startScreen{
	background-color: #fff;
	padding-top: 4em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#template {
	background-color: #F8B000;
	padding: 1em;
	color: white;
	
}

fieldset{
	border: none;
}

/*placeDistanceBlock*/

#place{
	width: 60vw;
	font-size: 1em;
	padding: .67em;
	margin: .5em .1em .5em 0;
	border: none;
	display: inline-block;
	font-weight: 300;
	color: #3888C5;

}
.distance{
	padding: 1em 0;
	border: 1px solid white;
	cursor: pointer;
	background-color: white;
	padding: .5em;
}
.dropdown{
	background-color: white;
	padding: .5em 0;
	cursor: pointer;
	width: 30vw;
	display: inline-block;
}

.dropdownBudget{
	background-color: white;
	padding: .5em 0;
	cursor: pointer;
	width: 45vw;
	margin: .3em 0;
	display: inline-block;
}
.dropdownBudget:first-of-type{
	margin-right: .1em;
}
.dropdownBudget label{
	color: #3888C5;
}

#fromBudget, #tillBudget{
	
	margin-left: .3em;
	border: 1px solid white;
	background-color: white;

}
[for="fromBudget"], [for="tillBudget"]{
	margin-left: .5em;
}
select{
	font-size: 1em;
	cursor: pointer;
}
option{
	font-size: 2em;
}
form > h3{
	margin: 1em 0;
}

button{
	width: 90vw;
	font-size: 1.5em;
	padding: .7em;
	border: none;
	background-color: #3888C5;
	color: white; 
}


figure{
	background-color: #E8A000;
	font-size: 1em;
	margin: 1em 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

figure:hover{
	background-color: #3888C5;
}
figure img{
	width: 2.5em;
	height: 2.5em;
	padding: .5em;
	box-sizing: content-box;
	transition: all .3s ease-in-out;
}
.filter{
	display: flex;
	justify-content: space-between;
}
.turn{
	transform: rotate(45deg);
	transition: all .3s ease-in-out;
}
[type="radio"]{
	width: .5em;
	margin: .3em 1em;
	font-size: 1.5em;
}
.checkboxgroup {
  display: inline-block;
  text-align: center;
}
.checkboxgroup label {
  display: block;
}
#checkboxes{
	margin-top: 1em;
}


/*Results*/
#resultsBlock{
	width: 100vw;
	padding: 1em;
	line-height: 1.5em;
	background-color: white;
}
#resultsBlock h3{
	font-size: .8em;
	font-weight: 200;
	display: block;
	border-bottom: 2px solid #E8A000;
	padding: .5em 0;
	margin-bottom: 1em;
}
[data-bind="imageUrl"]{
	width: 100%;
	margin-top: 2em;
}
.addressPrice{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #bdc3c7;
}
[data-bind="Adres"]{
	font-weight: 700;
	color: #3888C5;
}
[data-bind="Koopprijs"]{
	font-weight: 700;
}
[data-bind="Koopprijs"]:before{
	content: "€ ";
}
[data-bind="Koopprijs"]:after{
	content: " k.k."
}
.address{
	display: flex;
}
[data-bind="Postcode"]{
	margin: 0 .5em 1em 0;
}
[data-bind="Woonoppervlakte"]:after, [data-bind="Perceeloppervlakte"]:after{
	content: " m²";
}
[data-bind="AantalKamers"]:after{
	content: " kamers";
}
.properties{
	display: flex;
	background-color: #E8A000;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1em;
	color: white;
	margin-top: -.4em;
	margin-bottom: 1em;
}
.properties img{
	max-width: 2em;
	height: 2em;
	margin-right: -1em;

}

.separation{
	margin: 0 .5em;
}
.slash{
	margin: 0 .3em;
}

/*Loader*/

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #3888C5;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
 
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
